<html>

<body>
    <p>Estás en: {{name}} (PRIVADA)</p>
	<p>Puedes editar el portal y administrar a los usuarios</p>
	
	<p>CREACION:</p>
	
 	<form action='createUser' method="post">
        <input type='text' name="id" placeholder="Nombre de Usuario">
        <input type='text' name="passWord" placeholder="Contrasena">
		<input type='text' name="nombre" placeholder="Nombre">
		<input type='text' name="apellido1" placeholder="Apellido 1">
		<input type='text' name="apellido2" placeholder="Apellido 2">
  		<select name="userType">
    		<option value="profesor">Profesor</option>
    		<option value="monitor">Monitor</option>
    		<option value="padre">Padre</option>
    		<option value="admin">Admin</option>
  		</select>
	   <input type='submit' value="Crear">
    </form>
    
    <form action='createAlumno' method="post">
		<input type='text' name="nombre" placeholder="Nombre">
		<input type='text' name="apellido1" placeholder="Apellido 1">
		<input type='text' name="apellido2" placeholder="Apellido 2">	
		<input type='text' name="DNI" placeholder="DNI">
		<input type='text' name="padre" placeholder="Usuario Padre">
		<input type='text' name="parada" placeholder="Parada">
		<select name="curso">
    		<option value="1 primaria">1º Primaria</option>
    		<option value="2 primaria">2º Primaria</option>
    		<option value="3 primaria">3º Primaria</option>
    		<option value="4 primaria">4º Primaria</option>
    		<option value="5 primaria">5º Primaria</option>
    		<option value="6 primaria">6º Primaria</option>
    		<option value="1 eso">1º ESO</option>
    		<option value="2 eso">2º ESO</option>
    		<option value="3 eso">3º ESO</option>
    		<option value="4 eso">4º ESO</option>
  		</select>
  		<input type='text' name="letra" placeholder="Grupo">
		<input type='submit' value="Crear">
    </form>
    
	<form action='createPost' method='post'>
		Titulo:<br>
		<input type='text' name="titulo"><br>
		Texto<br>
		<textarea name="texto" cols="40" rows="5"></textarea>
		<input type='submit' value="Publicar">
	</form>
	
	<p>MOODIFICACION:</p>
	
	<p>POSTS:</p>
	<table>
	<tr>
    	<th>Número |</th>
    	<th>Título </th> 
  		</tr>
  		{{#posts}}
		<tr>
		<td>{{-index}}</td>
		<td>{{titulo}}</td>
		<td>
			<form action='editPost' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Editar">
			</form>
		</td>
		<td>
			<form action='deletePost' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Borrar">
			</form>
		</td>
		</tr>
		{{/posts}}
	</table>
	
	<p>FILTRO:</p>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for nick..">
	
	<p>USUARIOS:</p>
	<table id="myTable">
		<tr>
    	<th>Numero |</th>
    	<th>Nick de Usuario |</th> 
    	<th>Nombre |</th> 
    	<th>Apellidos</th> 
  		</tr>
		{{#usuarios}}
		<tr>
		<td>{{-index}}</td>
		<td>{{id}}</td>
		<td>{{nombre}}</td>
		<td>{{apellido1}}</td>
		<td>{{apellido2}}</td>
		<td>
			<form action='editUsuario' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Editar">
			</form>
		</td>
		<td>
			<form action='deleteUsuario' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Borrar">
			</form>
		</td>
		</tr>
		{{/usuarios}}
		{{#alumnos}}
		<tr>
		<td>{{-index}}</td>
		<td>{{id}}</td>
		<td>{{nombre}}</td>
		<td>{{apellido1}}</td>
		<td>{{apellido2}}</td>
		<td>
			<form action='editAlumno' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Editar">
			</form>
		</td>
		<td>
			<form action='deleteAlumno' method='post'>
				<input type='hidden' name="id" value={{id}}>
				<input type='submit' value="Borrar">
			</form>
		</td>
		</tr>
		{{/alumnos}}
	</table>
    
    <form action='home'>
        <input type='submit' value="Go Home">
    </form>
	
	<!-- script sacado de https://www.w3schools.com/howto/howto_js_filter_table.asp -->
	<script>
	function myFunction() {
  		var input, filter, table, tr, td, i, txtValue;
  		input = document.getElementById("myInput");
  		filter = input.value.toUpperCase();
  		table = document.getElementById("myTable");
  		tr = table.getElementsByTagName("tr");
  		for (i = 0; i < tr.length; i++) {
    		td = tr[i].getElementsByTagName("td")[1];
    		if (td) {
      			txtValue = td.textContent || td.innerText;
      			if (txtValue.toUpperCase().indexOf(filter) > -1) {
        			tr[i].style.display = "";
      		} else {
        		tr[i].style.display = "none";
      		}
    	}       
  		}
	}
</script>
</html>