<html>

<body>
    <p>Estás en: {{name}} (PRIVADA)</p>
	<p>Puedes editar el portal y administrar a los usuarios</p>
    <form action='home'>
        <input type='submit' value="Go Home">
    </form>
 <form action='createUser' method="post">
        <input type='text' name="nick" placeholder="Nombre de Usuario">
        <input type='text' name="passWord" 			 			placeholder="Contrasena">
		<input type='text' name="nombre" placeholder="Nombre">
		<input type='text' name="apellido1" placeholder="Apellido 1">
		<input type='text' name="apellido2" placeholder="Apellido 2">
  <select name="userType">
    <option value="profesor">Profesor</option>
    <option value="monitor">Monitor</option>
    <option value="padre">Padre</option>
    <option value="admin">Admin</option>
  </select>
	   <input type='submit' value="Crear">
    </form>
    <form action='createAlumno'>
		<input type='text' name="name" placeholder="Nombre">
		<input type='text' name="surname1" placeholder="Apellido 1">
	<input type='text' name="surname2" placeholder="Apellido 2">	
<input type='text' name="dni" placeholder="DNI">
        <input type='submit' value="Crear">
    </form>

</html>