<html>

<body>
    <p>Estás en: {{name}} (PRIVADA)</p>
	<form action='sendMessage' method="post">
	<input type="hidden" name="_csrf" value="{{token}}"/>
		<p>Servicio de mensajería interna del colegio</p>
		Usuario destino:
		<input type="text" name="destino"><br>
		Asunto:<br>
		<input type="text" name="asunto"><br>
		Mensaje<br>
		<textarea name="texto" cols="40" rows="5"></textarea>
		<input type="submit" value="Send">
	</form>
    <form action='home'>
    <input type="hidden" name="_csrf" value="{{token}}"/>
        <input type='submit' value="Go Home">
    </form>
</body>

</html>